(healthcheck) {
    health_uri /health
    health_interval 30s
    health_timeout 5s
}

(common) {
    encode gzip

    header {
        Strict-Transport-Security "max-age=63072000; includeSubDomains; preload"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        Referrer-Policy "strict-origin-when-cross-origin"
    }

    log {
        output stderr
        format console
        level INFO
    }
}

headscale.thodkatz.com {
    import common

    handle /web* {
        reverse_proxy http://headscale-ui:8080
    }

    handle {
        reverse_proxy http://headscale:8080
    }
}

auth.thodkatz.com {
    import common
    reverse_proxy http://authentik-server:9000
}

seafile.thodkatz.ts.net {
    tls internal
    reverse_proxy http://seafile:80
}

portainer.thodkatz.ts.net {
    tls internal
    reverse_proxy http://portainer:9000
}

grafana.thodkatz.ts.net {
    tls internal
    reverse_proxy http://grafana:3000
}

uptime-kuma.thodkatz.ts.net {
    tls internal
    reverse_proxy http://uptime-kuma:3001
}

wud.thodkatz.ts.net {
    tls internal
    reverse_proxy http://wud:3000
}

http://ente.thodkatz.ts.net {
    log {
        output stdout
        format console
    }
    reverse_proxy http://ente-web:3000
}

http://api.ente.thodkatz.ts.net {
    log {
        output stdout
        format console
    }
    reverse_proxy http://ente-museum:8080
}

# http://ente.thodkatz.ts.net {
#     @api path /api/*
#     handle @api {
#         uri strip_prefix /api
#         reverse_proxy http://ente-museum:8080
#     }

#     reverse_proxy http://ente-web:3000
# }


http://api.minio.ente.thodkatz.ts.net {
    # an attempt to fix CORS issues with MinIO and Ente
    # @preflight method OPTIONS
    # handle @preflight {
    #     header Access-Control-Allow-Origin "*"
    #     header Access-Control-Allow-Methods "GET, PUT, POST, DELETE, HEAD, OPTIONS"
    #     header Access-Control-Allow-Headers "*"
    #     header Access-Control-Max-Age "3000"
    #     header Vary "Origin"
    #     respond "" 204
    # }

    # header {
    #     Access-Control-Allow-Origin "*"
    #     Access-Control-Expose-Headers "ETag"
    #     Vary "Origin"
    # }
    reverse_proxy http://ente-minio:3200
}

https://minio.ente.thodkatz.ts.net {
    tls internal
    reverse_proxy http://ente-minio:3201
}
